<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.demo">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!--网络权限，如果你需要预览网络图片或视频则必须添加改权限-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--相机权限，拍照、录像时的必要权限-->
    <uses-permission android:name="android.permission.CAMERA" />
    <!--录制视频权限，录像时的必要权限-->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!--读取外部存储权限，PhotoSelector库中所有功能都会使用到的权限-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!--写入外部存储权限，PhotoSelector库中所有功能都会使用到的权限-->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:name=".app.App"
        android:allowBackup="false"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mvr"
        tools:targetApi="q">
        <activity
            android:name=".main.MainActivity"
            android:exported="true"
            android:windowSoftInputMode="stateVisible|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".chat.ChatActivity"
            android:exported="true"
            android:windowSoftInputMode="stateVisible|adjustNothing" />

        <activity
            android:name="com.kelin.photoselector.PhotoSelectorActivity"
            android:configChanges="screenSize|orientation"
            android:theme="@style/PhotoSelectorTheme" />

        <activity
            android:name=".preview.PreviewActivity"
            android:exported="true"
            android:windowSoftInputMode="stateVisible|adjustNothing" />

        <activity
            android:name=".chat.widget.camera.CameraActivity"
            android:exported="true"
            android:theme="@style/FullScreen"
            android:windowSoftInputMode="stateVisible|adjustNothing" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
        <service android:name=".chat.widget.camera.JewxonCameraService" />
    </application>

</manifest>